.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  background-image: linear-gradient(blue, white);
}
.head {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.button {
  padding: 20px;
  background-color: white;
  color: balck;
  font-size: 20px;
}
